@import "tailwindcss";

@theme inline {
  --color-foreground: light-dark(
    #171717,
    #ededed
  );
  --color-background: light-dark(
    #ececef,
    #0b0a0a
  );
  --color-foreground-muted: light-dark(
    var(--color-slate-500),
    color-mix(in srgb, var(--color-foreground) 65%, var(--color-background))
  );
  --color-background-input: light-dark(
    #d6d6e3,
    #232220
  );
  --color-background-muted: var(--color-background-input);
  --color-background-card: var(--color-background);
  
  --color-active-outline: color-mix(in srgb, var(--color-foreground) 25%, var(--color-background));

  --color-input: var(--color-background-input);
  --color-popover: light-dark(
    var(--color-background),
    var(--color-background-input)
  );
  --color-accent: light-dark(
    color-mix(in srgb, #d6d6e3 50%, transparent),
    color-mix(in srgb, var(--color-foreground) 20%, var(--color-background))
  );
  
  --color-border: green;
  --color-ring: light-dark(
    var(--color-slate-400),
    color-mix(in srgb, var(--color-foreground) 50%, var(--color-background))
  );

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-2xs: 0.625rem;
}



body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility button {
  @apply block
  shrink-0
  text-xs p-2 px-3
  text-foreground-muted 
  hover:text-foreground
  cursor-pointer
  hover:bg-foreground/5 rounded
  flex items-center gap-2
}

@utility tab {
  @apply flex w-auto 
  flex-wrap p-1.5 rounded-xl text-sm select-none isolate
  bg-background-muted;
}
@utility tab-card {
  @apply bg-background-muted/80;
}
@custom-variant tab-item (& .tab-item);
@utility tab-item {
  @apply px-5 p-2
  text-foreground-muted 
  font-medium
  text-nowrap 
  cursor-pointer group-data-active:cursor-auto

  hover:text-foreground;

  &[data-active] {
    @apply text-foreground;
  }
}

@custom-variant tab-background (& .tab-background);
@utility tab-background {
  @apply absolute top-0 left-0 w-full h-full
  pointer-events-none -z-10 
  rounded-lg shadow-xs
  bg-background-card;
}