@import "tailwindcss";

/* :root {
  --background: #ececef;
  --background-input: #dddde2;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0a0a;
    --background-input: #232220;
    --foreground: #ededed;
  }
} */

@theme inline {
  --foreground: light-dark(
    #171717,
    #ededed
  );
  --background: light-dark(
    #ececef,
    #0b0a0a
  );
  --color-foreground-muted: light-dark(
    var(--color-slate-500),
    color-mix(in srgb, var(--foreground) 65%, var(--background))
  );
  --background-input: light-dark(
    #d6d6e3,
    #232220
  );

  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-background-input: var(--background-input);
  --color-background-muted: var(--background-input);
  --color-background-card: var(--background);

  
  --color-active-outline: color-mix(in srgb, var(--foreground) 25%, var(--background));

  --color-input: var(--background-input);
  --color-popover: var(--background-input);
  --color-accent: color-mix(in srgb, var(--foreground) 10%, var(--background));
  --color-border: green;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-2xs: 0.625rem;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility button {
  @apply block
  shrink-0
  text-xs p-2 px-3
  text-foreground-muted hover:text-foreground
  cursor-pointer
  hover:bg-foreground/5 rounded
  flex items-center gap-2
}

@utility tab {
  @apply flex w-auto 
  flex-wrap p-1.5 rounded-xl text-sm select-none isolate
  bg-background-muted;
}
@utility tab-card {
  @apply bg-background-muted/80;
}
@custom-variant tab-item (& .tab-item);
@utility tab-item {
  @apply px-5 p-2
  text-foreground-muted 
  font-medium
  text-nowrap 
  cursor-pointer group-data-active:cursor-auto

  hover:text-foreground;

  &[data-active] {
    @apply text-foreground;
  }
}

@custom-variant tab-background (& .tab-background);
@utility tab-background {
  @apply absolute top-0 left-0 w-full h-full
  pointer-events-none -z-10 
  rounded-lg shadow-xs
  bg-background-card;
}